/* this is the header*/
*{
    margin: 0;
}

body{
  z-index: 10;
    background: url(jump.JPG) no-repeat;
    background-size: cover;
    height: 100vh;
    
}

.header{
    width:100%;
    background-color: rgba(0, 0, 0, .2);
}

.header ul{
    text-align: center;
}

.header ul li{
    list-style: none;
    display: inline-block;
}

.header ul li a{
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
    font-family: 'Raleway',sans-serif;
    letter-spacing: 2px;
    font-weight: 600;
    padding: 25px;
    transition: all ease 0.5s;
}

.header ul li a:hover{
    background-color: #211b4385;
}
/*after this is bio*/


body{
    background-color: #606E90 ;
}


.bio-header{
    position: absolute;
    top:1200px;
    font-size: 40px;
}


#bio{
    background:lightgrey;
    color: black;
    position: absolute;
    top: 1300px;
    margin-bottom: 60px;
    font-size: 25px;
}