/* this is the header*/
*{
    margin: 0;
}

body{
  z-index: 10;
    background: url(lynch.JPG) no-repeat;
    background-size: cover;
    height: 100vh;
    
}

.header{
    width:100%;
    background-color: rgba(0, 0, 0, .2);
}

.header ul{
    text-align: center;
}

.header ul li{
    list-style: none;
    display: inline-block;
}

.header ul li a{
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
    font-family: 'Raleway',sans-serif;
    letter-spacing: 2px;
    font-weight: 600;
    padding: 25px;
    transition: all ease 0.5s;
}

.header ul li a:hover{
    background-color: #211b4385;
}

/*end of header*/

#social{
    margin: 50px;
    transform: translate(-50%, 50%)
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

li{
    display: inline-block; margin: 0 3px;

}


.social-icons{
    background: #e74c3c;
    border: 5px solid #e74c3c; 
    width: 100px;
    height: 70px;
    padding-top: 30px;
    display: block;
    font-size: 35px;
    color:white;
    margin: 0px;
    
}


.social-icons:hover{
    border-radius: 50%;
    color: blue;
}

#email{ 
    position: absolute;
    top: 300px;
    left: 1750px;
}

#facebook{
    position: absolute;
    top: 10px;
    left: 1750px;
}


#insta{
    position: absolute;
    top: 150px;
    left: 1750px;
}
/*after this is footer*/

.footer{
    position: absolute;
    top: 600px;
    left: 5px;
    background-color: rgb(252, 247, 247, .2);    
    border: 3px groove red;
    border-radius: 10px;
    font-size: 50px;
   

}

#footer-instagram{
    position: absolute;
    top: 600px;
    left: 700px;
    background-color: rgb(252, 247, 247, .2);
    border: 3px groove blue;
    border-radius: 10px;
    font-size: 50px;
    
}



