/* this is the header*/
*{
    margin: 0;
}

body{
    background: url(1.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: left;
}

.header{
    width:100%;
    background-color: rgba(0, 0, 0, .2);
}

.header ul{
    text-align: center;
}

.header ul li{
    list-style: none;
    display: inline-block;
}

.header ul li a{
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
    font-family: 'Raleway',sans-serif;
    letter-spacing: 2px;
    font-weight: 600;
    padding: 25px;
    transition: all ease 0.5s;
}

.header ul li a:hover{
    background-color: #211b4385;
}

/*after this its all about the gallery*/


.images-landscape{
    
height: 400px;
width: 8000px;
position: absolute;
left: 0px;
top: 900px;

}
#image-1{
    width: 500px;
}

#image-2{
    width:500px;
}
#image-3{
    width:500px;
}
#image-4{
    width: 500px;
}
#image-5{
    width: 500px;
}

.landscape{
    max-width: 100%;
    max-height: 100%;
    margin: 100px;
}



