/* this is the header*/
*{
    margin: 0;
}

body{
  z-index: 10;
    background: url(1.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: left;
}

.header{
    width:100%;
    background-color: rgba(0, 0, 0, .2);
}

.header ul{
    text-align: center;
}

.header ul li{
    list-style: none;
    display: inline-block;
}

.header ul li a{
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
    font-family: 'Raleway',sans-serif;
    letter-spacing: 2px;
    font-weight: 600;
    padding: 25px;
    transition: all ease 0.5s;
}

.header ul li a:hover{
    background-color: #211b4385;
}

/*after this its all about the gallery*/





.slidershow{
    width: 700px;
    height: 400px;
    overflow: hidden;
    margin-bottom: 30px;
  }
  .middle{
    position: absolute;
    top: 1200px;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .navigation{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }
  .bar{
    width: 50px;
    height: 10px;
    border: 2px solid #fff;
    margin: 6px;
    cursor: pointer;
    transition: 0.4s;
  }
  .bar:hover{
    background: #fff;
  }
  
  input[name="r"]{
      position: absolute;
      visibility: hidden;
  }
  
  .slides{
    width: 500%;
    height: 100%;
    display: flex;
  }
  
  .slide{
    width: 20%;
    transition: 0.6s;
  }
  .slide img{
    width: 100%;
    height: 100%;
  }
  
  #r1:checked ~ .s1{
    margin-left: 0;
  }
  #r2:checked ~ .s1{
    margin-left: -20%;
  }
  #r3:checked ~ .s1{
    margin-left: -40%;
  }
  #r4:checked ~ .s1{
    margin-left: -60%;
  }
  #r5:checked ~ .s1{
    margin-left: -80%;
  }
  /* end of gallery slider*/

body{
  background-color: #211b4385;
}

#nature-title{
  position: absolute;
  top: 950px;
  left: 330px;
  font-size: 40px;
  font-family:serif;
}