.title{
    
    font-family:serif;
    font-size: 50px;
    float: left;
    color:black;
    margin: 6px;
    position: relative;
    top: 10px;
    z-index: 1;
    
    
    
    
}

.background-photo{
    width: 100%;
    height: 700px;
    position: absolute;
    top: 0px;
    left: 0%;
    z-index: 0;
}


body{
    background-color: #eee;
}



nav{
    width: 100%;
    height: 100px;
    background-color: rgb(0, 0, 0);
}




.home-buttons{
    position: relative;
    top: 10px;
    left: 600px;
    margin: 15px;
    
    font-size: 30px;
     z-index: 1;
}


a{
    color: #000000;
    text-decoration: underline;
}
a:hover{
    color:blue;
    text-decoration: none;
}
