*{
    margin: 0;
}

body{
    background: url(logo-2.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: top;
}

.header{
    width:100%;
    background-color: rgba(0, 0, 0, .2);
    position: fixed;
    z-index: 6;
}

.header ul{
    text-align: center;
}

.header ul li{
    list-style: none;
    display: inline-block;
}

.header ul li a{
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
    font-family: 'Raleway',sans-serif;
    letter-spacing: 2px;
    font-weight: 600;
    padding: 25px;
    transition: all ease 0.5s;
}

.header ul li a:hover{
    background-color: #211b4385;
}